/* Add a black background color to the top navigation */
.topnav {
    background-color: #2E6DB5;
    overflow: hidden;
    justify-content: center;
    width: 100%; /* Full width */
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 25px;
    text-decoration: none;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #66a5ea;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #318ce7;
    color: white;
  }